.bg-charcoal {
  background-color: #2E4052;
}

.bg-crimson {
  background-color: #A20000;
}

.bg-neongreen {
  background-color: 	#2f8ca3;
}

.color-neongreen {
  color: 	#2f8ca3 !important;
}

.input-neongreen {
  color: 	#FFF;
}

.color-shadow {
  color:#030504;
}

.bg-shadow {
  background-color: #030504;
}

.bg-nav {
  background-color: #0f100f;
}

.bg-neonorange {
  background-color: #f4af2d;
}

.color-neonorange {
  color: #f4af2d;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}


ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@font-face {
  font-family: 'Tr2n';
  src: url('./Tr2n.ttf') format('truetype');
}

.text-tron {
  font-family: 'Tr2n';
}

.text-large {
  font-size:5rem;
}

.text-big {
  font-size:2.5rem;
}

.text-regular {
  font-size:1.5rem;
}

.text-small {
  font-size:1.0rem;
}

.border-neonorange {
  border-color: #f4af2d;
}

.border-neongreen {
  border-color: 	#2f8ca3 !important;
}

.shadow-neongreen {
  text-shadow: 0 0 10px #2f8ca3, 0 0 20px #2f8ca3, 0 0 30px #2f8ca3, 0 0 40px #2f8ca3;
}

.shadow-neonorange {
  text-shadow: 0 0 10px #f4af2d, 0 0 20px #f4af2d, 0 0 30px #f4af2d, 0 0 40px #f4af2d;
}

.shadow-shadow {
  text-shadow: 0 0 10px #030504, 0 0 20px #030504, 0 0 30px #030504, 0 0 40px #030504;
}

.box-neonorange { 
  box-shadow: 0 0 10px #f4af2d, 0 0 10px #f4af2d, 0 0 20px #f4af2d, 0 0 10px #f4af2d;
}

.box-neongreen {
  box-shadow: 0 0 3px #2f8ca3, 0 0 7px #2f8ca3, 0 0 5px #2f8ca3, 0 0 3px #2f8ca3;
}

.placeholder-white::placeholder {
  color: #2f8ca3;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.search-container {
  position: relative;
}

.search-results {
  position: absolute;
  background: white;
  color: black;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}